In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("DATA/loan_data.csv")

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_TYPE_SUITE_x,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV,NAME_CONTRACT_TYPE_y,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_y,WEEKDAY_APPR_PROCESS_START_y,HOUR_APPR_PROCESS_START_y,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE_y,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1038818,Consumer loans,9251.775,179055.0,179055.0,0.0,179055.0,SATURDAY,9,Y,1,0.000000,NaN,NaN,XAP,Approved,-606,XNA,XAP,NaN,New,Vehicles,POS,XNA,Stone,500,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1810518,Cash loans,98356.995,900000.0,1035882.0,NaN,900000.0,FRIDAY,12,Y,1,NaN,NaN,NaN,XNA,Approved,-746,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2636178,Consumer loans,64567.665,337500.0,348637.5,0.0,337500.0,SUNDAY,17,Y,1,0.000000,NaN,NaN,XAP,Approved,-828,Cash through the bank,XAP,Family,Refreshed,Furniture,POS,XNA,Stone,1400,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2396755,Consumer loans,6737.310,68809.5,68053.5,6885.0,68809.5,SATURDAY,15,Y,1,0.100061,NaN,NaN,XAP,Approved,-2341,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,200,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1564014,Consumer loans,5357.250,24282.0,20106.0,4860.0,24282.0,FRIDAY,5,Y,1,0.212008,NaN,NaN,XAP,Approved,-815,Cash through the bank,XAP,Unaccompanied,New,Mobile,POS,XNA,Regional / Local,30,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0

In [5]:
data.shape

(1413701, 158)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Columns: 158 entries, SK_ID_CURR to NFLAG_INSURED_ON_APPROVAL
dtypes: float64(80), int64(46), object(32)
memory usage: 1.7+ GB

In [7]:
data.duplicated().sum()

0

In [8]:
data.isnull().mean() * 100

SK_ID_CURR                       0.000000
TARGET                           0.000000
NAME_CONTRACT_TYPE_x             0.000000
CODE_GENDER                      0.000000
FLAG_OWN_CAR                     0.000000
FLAG_OWN_REALTY                  0.000000
CNT_CHILDREN                     0.000000
AMT_INCOME_TOTAL                 0.000000
AMT_CREDIT_x                     0.000000
AMT_ANNUITY_x                    0.006578
AMT_GOODS_PRICE_x                0.085449
NAME_TYPE_SUITE_x                0.249416
NAME_INCOME_TYPE                 0.000000
NAME_EDUCATION_TYPE              0.000000
NAME_FAMILY_STATUS               0.000000
NAME_HOUSING_TYPE                0.000000
REGION_POPULATION_RELATIVE       0.000000
DAYS_BIRTH                       0.000000
DAYS_EMPLOYED                    0.000000
DAYS_REGISTRATION                0.000000
DAYS_ID_PUBLISH                  0.000000
OWN_CAR_AGE                     66.294499
FLAG_MOBIL                       0.000000
FLAG_EMP_PHONE                   0.000000
FLAG_WORK_PHONE                  0.000000
FLAG_CONT_MOBILE                 0.000000
FLAG_PHONE                       0.000000
FLAG_EMAIL                       0.000000
OCCUPATION_TYPE                 32.367523
CNT_FAM_MEMBERS                  0.000000
REGION_RATING_CLIENT             0.000000
REGION_RATING_CLIENT_W_CITY      0.000000
WEEKDAY_APPR_PROCESS_START_x     0.000000
HOUR_APPR_PROCESS_START_x        0.000000
REG_REGION_NOT_LIVE_REGION       0.000000
REG_REGION_NOT_WORK_REGION       0.000000
LIVE_REGION_NOT_WORK_REGION      0.000000
REG_CITY_NOT_LIVE_CITY           0.000000
REG_CITY_NOT_WORK_CITY           0.000000
LIVE_CITY_NOT_WORK_CITY          0.000000
ORGANIZATION_TYPE                0.000000
EXT_SOURCE_1                    56.366870
EXT_SOURCE_2                     0.128811
EXT_SOURCE_3                    17.107012
APARTMENTS_AVG                  50.364115
BASEMENTAREA_AVG                58.308511
YEARS_BEGINEXPLUATATION_AVG     48.431882
YEARS_BUILD_AVG                 66.298107
COMMONAREA_AVG                  69.689347
ELEVATORS_AVG                   52.996779
ENTRANCES_AVG                   49.995155
FLOORSMAX_AVG                   49.409882
FLOORSMIN_AVG                   67.670604
LANDAREA_AVG                    59.218533
LIVINGAPARTMENTS_AVG            68.214566
LIVINGAREA_AVG                  49.826661
NONLIVINGAPARTMENTS_AVG         69.296549
NONLIVINGAREA_AVG               54.860115
APARTMENTS_MODE                 50.364115
BASEMENTAREA_MODE               58.308511
YEARS_BEGINEXPLUATATION_MODE    48.431882
YEARS_BUILD_MODE                66.298107
COMMONAREA_MODE                 69.689347
ELEVATORS_MODE                  52.996779
ENTRANCES_MODE                  49.995155
FLOORSMAX_MODE                  49.409882
FLOORSMIN_MODE                  67.670604
LANDAREA_MODE                   59.218533
LIVINGAPARTMENTS_MODE           68.214566
LIVINGAREA_MODE                 49.826661
NONLIVINGAPARTMENTS_MODE        69.296549
NONLIVINGAREA_MODE              54.860115
APARTMENTS_MEDI                 50.364115
BASEMENTAREA_MEDI               58.308511
YEARS_BEGINEXPLUATATION_MEDI    48.431882
YEARS_BUILD_MEDI                66.298107
COMMONAREA_MEDI                 69.689347
ELEVATORS_MEDI                  52.996779
ENTRANCES_MEDI                  49.995155
FLOORSMAX_MEDI                  49.409882
FLOORSMIN_MEDI                  67.670604
LANDAREA_MEDI                   59.218533
LIVINGAPARTMENTS_MEDI           68.214566
LIVINGAREA_MEDI                 49.826661
NONLIVINGAPARTMENTS_MEDI        69.296549
NONLIVINGAREA_MEDI              54.860115
FONDKAPREMONT_MODE              68.216264
HOUSETYPE_MODE                  49.810108
TOTALAREA_MODE                  47.926754
WALLSMATERIAL_MODE              50.462297
EMERGENCYSTATE_MODE             47.064478
OBS_30_CNT_SOCIAL_CIRCLE         0.222536
DEF_30_CNT_SOCIAL_CIRCLE         0.222536
OBS_60_CNT_SOCIAL_CIRCLE         0.222536
DEF_60_CNT_SOCIAL_CIRCLE         0.222536
DAYS_LAST_PHONE_CHANGE           0.000000
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
FLAG_DOCUMENT_8                  0.000000
FLAG_DOCUMENT_9                  0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_DOCUMENT_12                 0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_21                 0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      11.574371
AMT_REQ_CREDIT_BUREAU_DAY       11.574371
AMT_REQ_CREDIT_BUREAU_WEEK      11.574371
AMT_REQ_CREDIT_BUREAU_MON       11.574371
AMT_REQ_CREDIT_BUREAU_QRT       11.574371
AMT_REQ_CREDIT_BUREAU_YEAR      11.574371
SK_ID_PREV                       0.000000
NAME_CONTRACT_TYPE_y             0.000000
AMT_ANNUITY_y                   21.731469
AMT_APPLICATION                  0.000000
AMT_CREDIT_y                     0.000071
AMT_DOWN_PAYMENT                53.019698
AMT_GOODS_PRICE_y               22.602021
WEEKDAY_APPR_PROCESS_START_y     0.000000
HOUR_APPR_PROCESS_START_y        0.000000
FLAG_LAST_APPL_PER_CONTRACT      0.000000
NFLAG_LAST_APPL_IN_DAY           0.000000
RATE_DOWN_PAYMENT               53.019698
RATE_INTEREST_PRIMARY           99.661102
RATE_INTEREST_PRIVILEGED        99.661102
NAME_CASH_LOAN_PURPOSE           0.000000
NAME_CONTRACT_STATUS             0.000000
DAYS_DECISION                    0.000000
NAME_PAYMENT_TYPE                0.000000
CODE_REJECT_REASON               0.000000
NAME_TYPE_SUITE_y               49.138538
NAME_CLIENT_TYPE                 0.000000
NAME_GOODS_CATEGORY              0.000000
NAME_PORTFOLIO                   0.000000
NAME_PRODUCT_TYPE                0.000000
CHANNEL_TYPE                     0.000000
SELLERPLACE_AREA                 0.000000
NAME_SELLER_INDUSTRY             0.000000
CNT_PAYMENT                     21.731116
NAME_YIELD_GROUP                 0.000000
PRODUCT_COMBINATION              0.022140
DAYS_FIRST_DRAWING              39.690571
DAYS_FIRST_DUE                  39.690571
DAYS_LAST_DUE_1ST_VERSION       39.690571
DAYS_LAST_DUE                   39.690571
DAYS_TERMINATION                39.690571
NFLAG_INSURED_ON_APPROVAL       39.690571
dtype: float64

In [9]:
data1 = data.copy()

In [10]:
null_columns = (data1.isnull().mean() * 100)

In [11]:
null_columns

SK_ID_CURR                       0.000000
TARGET                           0.000000
NAME_CONTRACT_TYPE_x             0.000000
CODE_GENDER                      0.000000
FLAG_OWN_CAR                     0.000000
FLAG_OWN_REALTY                  0.000000
CNT_CHILDREN                     0.000000
AMT_INCOME_TOTAL                 0.000000
AMT_CREDIT_x                     0.000000
AMT_ANNUITY_x                    0.006578
AMT_GOODS_PRICE_x                0.085449
NAME_TYPE_SUITE_x                0.249416
NAME_INCOME_TYPE                 0.000000
NAME_EDUCATION_TYPE              0.000000
NAME_FAMILY_STATUS               0.000000
NAME_HOUSING_TYPE                0.000000
REGION_POPULATION_RELATIVE       0.000000
DAYS_BIRTH                       0.000000
DAYS_EMPLOYED                    0.000000
DAYS_REGISTRATION                0.000000
DAYS_ID_PUBLISH                  0.000000
OWN_CAR_AGE                     66.294499
FLAG_MOBIL                       0.000000
FLAG_EMP_PHONE                   0.000000
FLAG_WORK_PHONE                  0.000000
FLAG_CONT_MOBILE                 0.000000
FLAG_PHONE                       0.000000
FLAG_EMAIL                       0.000000
OCCUPATION_TYPE                 32.367523
CNT_FAM_MEMBERS                  0.000000
REGION_RATING_CLIENT             0.000000
REGION_RATING_CLIENT_W_CITY      0.000000
WEEKDAY_APPR_PROCESS_START_x     0.000000
HOUR_APPR_PROCESS_START_x        0.000000
REG_REGION_NOT_LIVE_REGION       0.000000
REG_REGION_NOT_WORK_REGION       0.000000
LIVE_REGION_NOT_WORK_REGION      0.000000
REG_CITY_NOT_LIVE_CITY           0.000000
REG_CITY_NOT_WORK_CITY           0.000000
LIVE_CITY_NOT_WORK_CITY          0.000000
ORGANIZATION_TYPE                0.000000
EXT_SOURCE_1                    56.366870
EXT_SOURCE_2                     0.128811
EXT_SOURCE_3                    17.107012
APARTMENTS_AVG                  50.364115
BASEMENTAREA_AVG                58.308511
YEARS_BEGINEXPLUATATION_AVG     48.431882
YEARS_BUILD_AVG                 66.298107
COMMONAREA_AVG                  69.689347
ELEVATORS_AVG                   52.996779
ENTRANCES_AVG                   49.995155
FLOORSMAX_AVG                   49.409882
FLOORSMIN_AVG                   67.670604
LANDAREA_AVG                    59.218533
LIVINGAPARTMENTS_AVG            68.214566
LIVINGAREA_AVG                  49.826661
NONLIVINGAPARTMENTS_AVG         69.296549
NONLIVINGAREA_AVG               54.860115
APARTMENTS_MODE                 50.364115
BASEMENTAREA_MODE               58.308511
YEARS_BEGINEXPLUATATION_MODE    48.431882
YEARS_BUILD_MODE                66.298107
COMMONAREA_MODE                 69.689347
ELEVATORS_MODE                  52.996779
ENTRANCES_MODE                  49.995155
FLOORSMAX_MODE                  49.409882
FLOORSMIN_MODE                  67.670604
LANDAREA_MODE                   59.218533
LIVINGAPARTMENTS_MODE           68.214566
LIVINGAREA_MODE                 49.826661
NONLIVINGAPARTMENTS_MODE        69.296549
NONLIVINGAREA_MODE              54.860115
APARTMENTS_MEDI                 50.364115
BASEMENTAREA_MEDI               58.308511
YEARS_BEGINEXPLUATATION_MEDI    48.431882
YEARS_BUILD_MEDI                66.298107
COMMONAREA_MEDI                 69.689347
ELEVATORS_MEDI                  52.996779
ENTRANCES_MEDI                  49.995155
FLOORSMAX_MEDI                  49.409882
FLOORSMIN_MEDI                  67.670604
LANDAREA_MEDI                   59.218533
LIVINGAPARTMENTS_MEDI           68.214566
LIVINGAREA_MEDI                 49.826661
NONLIVINGAPARTMENTS_MEDI        69.296549
NONLIVINGAREA_MEDI              54.860115
FONDKAPREMONT_MODE              68.216264
HOUSETYPE_MODE                  49.810108
TOTALAREA_MODE                  47.926754
WALLSMATERIAL_MODE              50.462297
EMERGENCYSTATE_MODE             47.064478
OBS_30_CNT_SOCIAL_CIRCLE         0.222536
DEF_30_CNT_SOCIAL_CIRCLE         0.222536
OBS_60_CNT_SOCIAL_CIRCLE         0.222536
DEF_60_CNT_SOCIAL_CIRCLE         0.222536
DAYS_LAST_PHONE_CHANGE           0.000000
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
FLAG_DOCUMENT_8                  0.000000
FLAG_DOCUMENT_9                  0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_DOCUMENT_12                 0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_21                 0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      11.574371
AMT_REQ_CREDIT_BUREAU_DAY       11.574371
AMT_REQ_CREDIT_BUREAU_WEEK      11.574371
AMT_REQ_CREDIT_BUREAU_MON       11.574371
AMT_REQ_CREDIT_BUREAU_QRT       11.574371
AMT_REQ_CREDIT_BUREAU_YEAR      11.574371
SK_ID_PREV                       0.000000
NAME_CONTRACT_TYPE_y             0.000000
AMT_ANNUITY_y                   21.731469
AMT_APPLICATION                  0.000000
AMT_CREDIT_y                     0.000071
AMT_DOWN_PAYMENT                53.019698
AMT_GOODS_PRICE_y               22.602021
WEEKDAY_APPR_PROCESS_START_y     0.000000
HOUR_APPR_PROCESS_START_y        0.000000
FLAG_LAST_APPL_PER_CONTRACT      0.000000
NFLAG_LAST_APPL_IN_DAY           0.000000
RATE_DOWN_PAYMENT               53.019698
RATE_INTEREST_PRIMARY           99.661102
RATE_INTEREST_PRIVILEGED        99.661102
NAME_CASH_LOAN_PURPOSE           0.000000
NAME_CONTRACT_STATUS             0.000000
DAYS_DECISION                    0.000000
NAME_PAYMENT_TYPE                0.000000
CODE_REJECT_REASON               0.000000
NAME_TYPE_SUITE_y               49.138538
NAME_CLIENT_TYPE                 0.000000
NAME_GOODS_CATEGORY              0.000000
NAME_PORTFOLIO                   0.000000
NAME_PRODUCT_TYPE                0.000000
CHANNEL_TYPE                     0.000000
SELLERPLACE_AREA                 0.000000
NAME_SELLER_INDUSTRY             0.000000
CNT_PAYMENT                     21.731116
NAME_YIELD_GROUP                 0.000000
PRODUCT_COMBINATION              0.022140
DAYS_FIRST_DRAWING              39.690571
DAYS_FIRST_DUE                  39.690571
DAYS_LAST_DUE_1ST_VERSION       39.690571
DAYS_LAST_DUE                   39.690571
DAYS_TERMINATION                39.690571
NFLAG_INSURED_ON_APPROVAL       39.690571
dtype: float64

In [12]:
null_columns = null_columns[null_columns >= 45]

In [13]:
null_columns

OWN_CAR_AGE                     66.294499
EXT_SOURCE_1                    56.366870
APARTMENTS_AVG                  50.364115
BASEMENTAREA_AVG                58.308511
YEARS_BEGINEXPLUATATION_AVG     48.431882
YEARS_BUILD_AVG                 66.298107
COMMONAREA_AVG                  69.689347
ELEVATORS_AVG                   52.996779
ENTRANCES_AVG                   49.995155
FLOORSMAX_AVG                   49.409882
FLOORSMIN_AVG                   67.670604
LANDAREA_AVG                    59.218533
LIVINGAPARTMENTS_AVG            68.214566
LIVINGAREA_AVG                  49.826661
NONLIVINGAPARTMENTS_AVG         69.296549
NONLIVINGAREA_AVG               54.860115
APARTMENTS_MODE                 50.364115
BASEMENTAREA_MODE               58.308511
YEARS_BEGINEXPLUATATION_MODE    48.431882
YEARS_BUILD_MODE                66.298107
COMMONAREA_MODE                 69.689347
ELEVATORS_MODE                  52.996779
ENTRANCES_MODE                  49.995155
FLOORSMAX_MODE                  49.409882
FLOORSMIN_MODE                  67.670604
LANDAREA_MODE                   59.218533
LIVINGAPARTMENTS_MODE           68.214566
LIVINGAREA_MODE                 49.826661
NONLIVINGAPARTMENTS_MODE        69.296549
NONLIVINGAREA_MODE              54.860115
APARTMENTS_MEDI                 50.364115
BASEMENTAREA_MEDI               58.308511
YEARS_BEGINEXPLUATATION_MEDI    48.431882
YEARS_BUILD_MEDI                66.298107
COMMONAREA_MEDI                 69.689347
ELEVATORS_MEDI                  52.996779
ENTRANCES_MEDI                  49.995155
FLOORSMAX_MEDI                  49.409882
FLOORSMIN_MEDI                  67.670604
LANDAREA_MEDI                   59.218533
LIVINGAPARTMENTS_MEDI           68.214566
LIVINGAREA_MEDI                 49.826661
NONLIVINGAPARTMENTS_MEDI        69.296549
NONLIVINGAREA_MEDI              54.860115
FONDKAPREMONT_MODE              68.216264
HOUSETYPE_MODE                  49.810108
TOTALAREA_MODE                  47.926754
WALLSMATERIAL_MODE              50.462297
EMERGENCYSTATE_MODE             47.064478
AMT_DOWN_PAYMENT                53.019698
RATE_DOWN_PAYMENT               53.019698
RATE_INTEREST_PRIMARY           99.661102
RATE_INTEREST_PRIVILEGED        99.661102
NAME_TYPE_SUITE_y               49.138538
dtype: float64

In [14]:
null_columns1 = null_columns.index.to_list()

In [15]:
null_columns1

['OWN_CAR_AGE',
 'EXT_SOURCE_1',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'AMT_DOWN_PAYMENT',
 'RATE_DOWN_PAYMENT',
 'RATE_INTEREST_PRIMARY',
 'RATE_INTEREST_PRIVILEGED',
 'NAME_TYPE_SUITE_y']

In [16]:
data1.drop(null_columns1, axis = 1, inplace = True)

In [17]:
data1.shape

(1413701, 104)

In [18]:
data1.isnull().mean() * 100

SK_ID_CURR                       0.000000
TARGET                           0.000000
NAME_CONTRACT_TYPE_x             0.000000
CODE_GENDER                      0.000000
FLAG_OWN_CAR                     0.000000
FLAG_OWN_REALTY                  0.000000
CNT_CHILDREN                     0.000000
AMT_INCOME_TOTAL                 0.000000
AMT_CREDIT_x                     0.000000
AMT_ANNUITY_x                    0.006578
AMT_GOODS_PRICE_x                0.085449
NAME_TYPE_SUITE_x                0.249416
NAME_INCOME_TYPE                 0.000000
NAME_EDUCATION_TYPE              0.000000
NAME_FAMILY_STATUS               0.000000
NAME_HOUSING_TYPE                0.000000
REGION_POPULATION_RELATIVE       0.000000
DAYS_BIRTH                       0.000000
DAYS_EMPLOYED                    0.000000
DAYS_REGISTRATION                0.000000
DAYS_ID_PUBLISH                  0.000000
FLAG_MOBIL                       0.000000
FLAG_EMP_PHONE                   0.000000
FLAG_WORK_PHONE                  0.000000
FLAG_CONT_MOBILE                 0.000000
FLAG_PHONE                       0.000000
FLAG_EMAIL                       0.000000
OCCUPATION_TYPE                 32.367523
CNT_FAM_MEMBERS                  0.000000
REGION_RATING_CLIENT             0.000000
REGION_RATING_CLIENT_W_CITY      0.000000
WEEKDAY_APPR_PROCESS_START_x     0.000000
HOUR_APPR_PROCESS_START_x        0.000000
REG_REGION_NOT_LIVE_REGION       0.000000
REG_REGION_NOT_WORK_REGION       0.000000
LIVE_REGION_NOT_WORK_REGION      0.000000
REG_CITY_NOT_LIVE_CITY           0.000000
REG_CITY_NOT_WORK_CITY           0.000000
LIVE_CITY_NOT_WORK_CITY          0.000000
ORGANIZATION_TYPE                0.000000
EXT_SOURCE_2                     0.128811
EXT_SOURCE_3                    17.107012
OBS_30_CNT_SOCIAL_CIRCLE         0.222536
DEF_30_CNT_SOCIAL_CIRCLE         0.222536
OBS_60_CNT_SOCIAL_CIRCLE         0.222536
DEF_60_CNT_SOCIAL_CIRCLE         0.222536
DAYS_LAST_PHONE_CHANGE           0.000000
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
FLAG_DOCUMENT_8                  0.000000
FLAG_DOCUMENT_9                  0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_DOCUMENT_12                 0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_21                 0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      11.574371
AMT_REQ_CREDIT_BUREAU_DAY       11.574371
AMT_REQ_CREDIT_BUREAU_WEEK      11.574371
AMT_REQ_CREDIT_BUREAU_MON       11.574371
AMT_REQ_CREDIT_BUREAU_QRT       11.574371
AMT_REQ_CREDIT_BUREAU_YEAR      11.574371
SK_ID_PREV                       0.000000
NAME_CONTRACT_TYPE_y             0.000000
AMT_ANNUITY_y                   21.731469
AMT_APPLICATION                  0.000000
AMT_CREDIT_y                     0.000071
AMT_GOODS_PRICE_y               22.602021
WEEKDAY_APPR_PROCESS_START_y     0.000000
HOUR_APPR_PROCESS_START_y        0.000000
FLAG_LAST_APPL_PER_CONTRACT      0.000000
NFLAG_LAST_APPL_IN_DAY           0.000000
NAME_CASH_LOAN_PURPOSE           0.000000
NAME_CONTRACT_STATUS             0.000000
DAYS_DECISION                    0.000000
NAME_PAYMENT_TYPE                0.000000
CODE_REJECT_REASON               0.000000
NAME_CLIENT_TYPE                 0.000000
NAME_GOODS_CATEGORY              0.000000
NAME_PORTFOLIO                   0.000000
NAME_PRODUCT_TYPE                0.000000
CHANNEL_TYPE                     0.000000
SELLERPLACE_AREA                 0.000000
NAME_SELLER_INDUSTRY             0.000000
CNT_PAYMENT                     21.731116
NAME_YIELD_GROUP                 0.000000
PRODUCT_COMBINATION              0.022140
DAYS_FIRST_DRAWING              39.690571
DAYS_FIRST_DUE                  39.690571
DAYS_LAST_DUE_1ST_VERSION       39.690571
DAYS_LAST_DUE                   39.690571
DAYS_TERMINATION                39.690571
NFLAG_INSURED_ON_APPROVAL       39.690571
dtype: float64

In [19]:
data1.shape

(1413701, 104)

In [20]:
data1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_TYPE_SUITE_x,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV,NAME_CONTRACT_TYPE_y,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,WEEKDAY_APPR_PROCESS_START_y,HOUR_APPR_PROCESS_START_y,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262949,0.139376,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1038818,Consumer loans,9251.775,179055.0,179055.0,179055.0,SATURDAY,9,Y,1,XAP,Approved,-606,XNA,XAP,New,Vehicles,POS,XNA,Stone,500,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,NaN,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1810518,Cash loans,98356.995,900000.0,1035882.0,900000.0,FRIDAY,12,Y,1,XNA,Approved,-746,XNA,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,NaN,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2636178,Consumer loans,64567.665,337500.0,348637.5,337500.0,SUNDAY,17,Y,1,XAP,Approved,-828,Cash through the bank,XAP,Refreshed,Furniture,POS,XNA,Stone,1400,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,NaN,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2396755,Consumer loans,6737.310,68809.5,68053.5,68809.5,SATURDAY,15,Y,1,XAP,Approved,-2341,Cash through the bank,XAP,Refreshed,Consumer Electronics,POS,XNA,Country-wide,200,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.555912,0.729567,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1564014,Consumer loans,5357.250,24282.0,20106.0,24282.0,FRIDAY,5,Y,1,XAP,Approved,-815,Cash through the bank,XAP,New,Mobile,POS,XNA,Regional / Local,30,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0

In [21]:
unwanted_columns = ["SK_ID_CURR", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "CNT_CHILDREN", "NAME_TYPE_SUITE_x", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS","NAME_HOUSING_TYPE", "REGION_POPULATION_RELATIVE", "FLAG_EMP_PHONE", "FLAG_WORK_PHONE", "FLAG_PHONE", "CNT_FAM_MEMBERS", "REGION_RATING_CLIENT", "REGION_RATING_CLIENT_W_CITY", "WEEKDAY_APPR_PROCESS_START_x", "HOUR_APPR_PROCESS_START_x", "REG_REGION_NOT_LIVE_REGION", "REG_REGION_NOT_WORK_REGION", "LIVE_REGION_NOT_WORK_REGION", "REG_CITY_NOT_LIVE_CITY", "REG_CITY_NOT_WORK_CITY", "LIVE_CITY_NOT_WORK_CITY", "EXT_SOURCE_2", "EXT_SOURCE_3", "FLAG_DOCUMENT_2", "FLAG_DOCUMENT_3", "FLAG_DOCUMENT_4", "FLAG_DOCUMENT_5", "FLAG_DOCUMENT_6", "FLAG_DOCUMENT_7", "FLAG_DOCUMENT_8", "FLAG_DOCUMENT_9", "FLAG_DOCUMENT_10", "FLAG_DOCUMENT_11", "FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13", "FLAG_DOCUMENT_14", "FLAG_DOCUMENT_15", "FLAG_DOCUMENT_16", "FLAG_DOCUMENT_17", "FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19", "FLAG_DOCUMENT_20", "FLAG_DOCUMENT_21", "SK_ID_PREV", "NAME_CONTRACT_TYPE_y", "WEEKDAY_APPR_PROCESS_START_y", "HOUR_APPR_PROCESS_START_y", "NFLAG_LAST_APPL_IN_DAY", "NAME_CASH_LOAN_PURPOSE", "NAME_PAYMENT_TYPE", "CODE_REJECT_REASON", "NAME_CLIENT_TYPE", "NAME_GOODS_CATEGORY", "NAME_PORTFOLIO", "NAME_PRODUCT_TYPE", "CHANNEL_TYPE", "SELLERPLACE_AREA", "NAME_SELLER_INDUSTRY", "CNT_PAYMENT", "NAME_YIELD_GROUP", "PRODUCT_COMBINATION", "DAYS_FIRST_DRAWING", "DAYS_FIRST_DUE", "DAYS_LAST_DUE_1ST_VERSION", "DAYS_LAST_DUE", "DAYS_TERMINATION"]

In [22]:
len(unwanted_columns)

68

In [23]:
data1.drop(unwanted_columns, axis=1, inplace=True)

In [24]:
data1.shape

(1413701, 36)

In [25]:
data1.isnull().mean() * 100

TARGET                          0.000000
NAME_CONTRACT_TYPE_x            0.000000
CODE_GENDER                     0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT_x                    0.000000
AMT_ANNUITY_x                   0.006578
AMT_GOODS_PRICE_x               0.085449
NAME_INCOME_TYPE                0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
FLAG_MOBIL                      0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_EMAIL                      0.000000
OCCUPATION_TYPE                32.367523
ORGANIZATION_TYPE               0.000000
OBS_30_CNT_SOCIAL_CIRCLE        0.222536
DEF_30_CNT_SOCIAL_CIRCLE        0.222536
OBS_60_CNT_SOCIAL_CIRCLE        0.222536
DEF_60_CNT_SOCIAL_CIRCLE        0.222536
DAYS_LAST_PHONE_CHANGE          0.000000
AMT_REQ_CREDIT_BUREAU_HOUR     11.574371
AMT_REQ_CREDIT_BUREAU_DAY      11.574371
AMT_REQ_CREDIT_BUREAU_WEEK     11.574371
AMT_REQ_CREDIT_BUREAU_MON      11.574371
AMT_REQ_CREDIT_BUREAU_QRT      11.574371
AMT_REQ_CREDIT_BUREAU_YEAR     11.574371
AMT_ANNUITY_y                  21.731469
AMT_APPLICATION                 0.000000
AMT_CREDIT_y                    0.000071
AMT_GOODS_PRICE_y              22.602021
FLAG_LAST_APPL_PER_CONTRACT     0.000000
NAME_CONTRACT_STATUS            0.000000
DAYS_DECISION                   0.000000
NFLAG_INSURED_ON_APPROVAL      39.690571
dtype: float64

In [26]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 36 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   TARGET                       1413701 non-null  int64
 1   NAME_CONTRACT_TYPE_x         1413701 non-null  object
 2   CODE_GENDER                  1413701 non-null  object
 3   AMT_INCOME_TOTAL             1413701 non-null  float64
 4   AMT_CREDIT_x                 1413701 non-null  float64
 5   AMT_ANNUITY_x                1413608 non-null  float64
 6   AMT_GOODS_PRICE_x            1412493 non-null  float64
 7   NAME_INCOME_TYPE             1413701 non-null  object
 8   DAYS_BIRTH                   1413701 non-null  int64
 9   DAYS_EMPLOYED                1413701 non-null  int64
 10  DAYS_REGISTRATION            1413701 non-null  float64
 11  DAYS_ID_PUBLISH              1413701 non-null  int64
 12  FLAG_MOBIL                   1413701 non-null  int64
 13  FLAG_CONT_MOBILE             1413701 non-null  int64
 14  FLAG_EMAIL                   1413701 non-null  int64
 15  OCCUPATION_TYPE              956121 non-null   object
 16  ORGANIZATION_TYPE            1413701 non-null  object
 17  OBS_30_CNT_SOCIAL_CIRCLE     1410555 non-null  float64
 18  DEF_30_CNT_SOCIAL_CIRCLE     1410555 non-null  float64
 19  OBS_60_CNT_SOCIAL_CIRCLE     1410555 non-null  float64
 20  DEF_60_CNT_SOCIAL_CIRCLE     1410555 non-null  float64
 21  DAYS_LAST_PHONE_CHANGE       1413701 non-null  float64
 22  AMT_REQ_CREDIT_BUREAU_HOUR   1250074 non-null  float64
 23  AMT_REQ_CREDIT_BUREAU_DAY    1250074 non-null  float64
 24  AMT_REQ_CREDIT_BUREAU_WEEK   1250074 non-null  float64
 25  AMT_REQ_CREDIT_BUREAU_MON    1250074 non-null  float64
 26  AMT_REQ_CREDIT_BUREAU_QRT    1250074 non-null  float64
 27  AMT_REQ_CREDIT_BUREAU_YEAR   1250074 non-null  float64
 28  AMT_ANNUITY_y                1106483 non-null  float64
 29  AMT_APPLICATION              1413701 non-null  float64
 30  AMT_CREDIT_y                 1413700 non-null  float64
 31  AMT_GOODS_PRICE_y            1094176 non-null  float64
 32  FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 33  NAME_CONTRACT_STATUS         1413701 non-null  object
 34  DAYS_DECISION                1413701 non-null  int64
 35  NFLAG_INSURED_ON_APPROVAL    852595 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 388.3+ MB

In [27]:
data1.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,-9461,-637,-3648.0,-2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,-606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,-746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,-828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,-2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,-19046,-225,-4260.0,-2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,-815,0.0

In [28]:
data1["AMT_ANNUITY_x"].mean().round(1)

27017.0

In [29]:
data1["AMT_ANNUITY_x"] = data1["AMT_ANNUITY_x"].fillna(data1["AMT_ANNUITY_x"].mean().round(1))

In [30]:
data1["AMT_ANNUITY_x"].isnull().sum()

0

In [31]:
data1["AMT_GOODS_PRICE_x"].mean().round(1)

527718.6

In [32]:
data1["AMT_GOODS_PRICE_x"] = data1["AMT_GOODS_PRICE_x"].fillna(data1["AMT_GOODS_PRICE_x"].mean().round(1))

In [33]:
data1["AMT_GOODS_PRICE_x"].isnull().sum()

0

In [34]:
data1["OCCUPATION_TYPE"].mode()[0]

'Laborers'

In [35]:
data1["OCCUPATION_TYPE"].fillna(data1["OCCUPATION_TYPE"].mode()[0], inplace=True)

C:\Users\syeda\AppData\Local\Temp\ipykernel_10544\2461168435.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["OCCUPATION_TYPE"].fillna(data1["OCCUPATION_TYPE"].mode()[0], inplace=True)

In [36]:
data1["OCCUPATION_TYPE"].isnull().sum()

0

In [37]:
data1["OBS_30_CNT_SOCIAL_CIRCLE"].value_counts()

OBS_30_CNT_SOCIAL_CIRCLE
0.0      732938
1.0      221099
2.0      138230
3.0       96310
4.0       68036
5.0       47132
6.0       32976
7.0       23019
8.0       15296
9.0       11101
10.0       7568
11.0       4779
12.0       4011
13.0       2448
14.0       1555
15.0       1093
16.0        838
17.0        644
19.0        335
18.0        297
20.0        205
21.0        173
22.0        163
24.0         80
25.0         76
23.0         57
27.0         40
29.0         19
26.0         15
30.0         13
47.0          4
348.0         3
28.0          2
Name: count, dtype: int64

In [38]:
data1["OBS_30_CNT_SOCIAL_CIRCLE"].mean().round(0)

2.0

In [39]:
data1["OBS_30_CNT_SOCIAL_CIRCLE"].fillna(data1["OBS_30_CNT_SOCIAL_CIRCLE"].mean().round(0), inplace=True)

C:\Users\syeda\AppData\Local\Temp\ipykernel_10544\3742513284.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["OBS_30_CNT_SOCIAL_CIRCLE"].fillna(data1["OBS_30_CNT_SOCIAL_CIRCLE"].mean().round(0), inplace=True)

In [40]:
data1["OBS_30_CNT_SOCIAL_CIRCLE"].isnull().sum()

0

In [41]:
data1["DEF_30_CNT_SOCIAL_CIRCLE"].value_counts()

DEF_30_CNT_SOCIAL_CIRCLE
0.0     1238905
1.0      137077
2.0       26062
3.0        6489
4.0        1658
5.0         289
6.0          66
7.0           4
34.0          3
8.0           2
Name: count, dtype: int64

In [42]:
data1["DEF_30_CNT_SOCIAL_CIRCLE"].mean().round(0)

0.0

In [43]:
data1["DEF_30_CNT_SOCIAL_CIRCLE"] = data1["DEF_30_CNT_SOCIAL_CIRCLE"].fillna(data1["DEF_30_CNT_SOCIAL_CIRCLE"].mean().round(0))

In [44]:
data1["DEF_30_CNT_SOCIAL_CIRCLE"].isnull().sum()

0

In [45]:
data1.duplicated().sum()

71875

In [46]:
data1.drop_duplicates(inplace=True)

In [47]:
data1.duplicated().sum()

0

In [48]:
data1.shape

(1341826, 36)

In [49]:
data1.isnull().mean() * 100

TARGET                          0.000000
NAME_CONTRACT_TYPE_x            0.000000
CODE_GENDER                     0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT_x                    0.000000
AMT_ANNUITY_x                   0.000000
AMT_GOODS_PRICE_x               0.000000
NAME_INCOME_TYPE                0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
FLAG_MOBIL                      0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_EMAIL                      0.000000
OCCUPATION_TYPE                 0.000000
ORGANIZATION_TYPE               0.000000
OBS_30_CNT_SOCIAL_CIRCLE        0.000000
DEF_30_CNT_SOCIAL_CIRCLE        0.000000
OBS_60_CNT_SOCIAL_CIRCLE        0.224098
DEF_60_CNT_SOCIAL_CIRCLE        0.224098
DAYS_LAST_PHONE_CHANGE          0.000000
AMT_REQ_CREDIT_BUREAU_HOUR     11.590847
AMT_REQ_CREDIT_BUREAU_DAY      11.590847
AMT_REQ_CREDIT_BUREAU_WEEK     11.590847
AMT_REQ_CREDIT_BUREAU_MON      11.590847
AMT_REQ_CREDIT_BUREAU_QRT      11.590847
AMT_REQ_CREDIT_BUREAU_YEAR     11.590847
AMT_ANNUITY_y                  17.973120
AMT_APPLICATION                 0.000000
AMT_CREDIT_y                    0.000075
AMT_GOODS_PRICE_y              18.964679
FLAG_LAST_APPL_PER_CONTRACT     0.000000
NAME_CONTRACT_STATUS            0.000000
DAYS_DECISION                   0.000000
NFLAG_INSURED_ON_APPROVAL      36.467545
dtype: float64

In [50]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1341826 entries, 0 to 1413700
Data columns (total 36 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   TARGET                       1341826 non-null  int64
 1   NAME_CONTRACT_TYPE_x         1341826 non-null  object
 2   CODE_GENDER                  1341826 non-null  object
 3   AMT_INCOME_TOTAL             1341826 non-null  float64
 4   AMT_CREDIT_x                 1341826 non-null  float64
 5   AMT_ANNUITY_x                1341826 non-null  float64
 6   AMT_GOODS_PRICE_x            1341826 non-null  float64
 7   NAME_INCOME_TYPE             1341826 non-null  object
 8   DAYS_BIRTH                   1341826 non-null  int64
 9   DAYS_EMPLOYED                1341826 non-null  int64
 10  DAYS_REGISTRATION            1341826 non-null  float64
 11  DAYS_ID_PUBLISH              1341826 non-null  int64
 12  FLAG_MOBIL                   1341826 non-null  int64
 13  FLAG_CONT_MOBILE             1341826 non-null  int64
 14  FLAG_EMAIL                   1341826 non-null  int64
 15  OCCUPATION_TYPE              1341826 non-null  object
 16  ORGANIZATION_TYPE            1341826 non-null  object
 17  OBS_30_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 18  DEF_30_CNT_SOCIAL_CIRCLE     1341826 non-null  float64
 19  OBS_60_CNT_SOCIAL_CIRCLE     1338819 non-null  float64
 20  DEF_60_CNT_SOCIAL_CIRCLE     1338819 non-null  float64
 21  DAYS_LAST_PHONE_CHANGE       1341826 non-null  float64
 22  AMT_REQ_CREDIT_BUREAU_HOUR   1186297 non-null  float64
 23  AMT_REQ_CREDIT_BUREAU_DAY    1186297 non-null  float64
 24  AMT_REQ_CREDIT_BUREAU_WEEK   1186297 non-null  float64
 25  AMT_REQ_CREDIT_BUREAU_MON    1186297 non-null  float64
 26  AMT_REQ_CREDIT_BUREAU_QRT    1186297 non-null  float64
 27  AMT_REQ_CREDIT_BUREAU_YEAR   1186297 non-null  float64
 28  AMT_ANNUITY_y                1100658 non-null  float64
 29  AMT_APPLICATION              1341826 non-null  float64
 30  AMT_CREDIT_y                 1341825 non-null  float64
 31  AMT_GOODS_PRICE_y            1087353 non-null  float64
 32  FLAG_LAST_APPL_PER_CONTRACT  1341826 non-null  object
 33  NAME_CONTRACT_STATUS         1341826 non-null  object
 34  DAYS_DECISION                1341826 non-null  int64
 35  NFLAG_INSURED_ON_APPROVAL    852495 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 378.8+ MB

In [51]:
data1.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,-9461,-637,-3648.0,-2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,-606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,-746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,-828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,-2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,-19046,-225,-4260.0,-2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,-815,0.0

In [52]:
data1["OBS_60_CNT_SOCIAL_CIRCLE"].mean().round(0)

2.0

In [53]:
data1["OBS_60_CNT_SOCIAL_CIRCLE"] = data1["OBS_60_CNT_SOCIAL_CIRCLE"].fillna(data1["OBS_60_CNT_SOCIAL_CIRCLE"].mean().round(0))

In [54]:
data1["OBS_60_CNT_SOCIAL_CIRCLE"].isnull().sum()

0

In [55]:
data1["DEF_60_CNT_SOCIAL_CIRCLE"] = data1["DEF_60_CNT_SOCIAL_CIRCLE"].fillna(data1["DEF_60_CNT_SOCIAL_CIRCLE"].mean().round(0))

In [56]:
BUREAU_cols = ["AMT_REQ_CREDIT_BUREAU_HOUR", "AMT_REQ_CREDIT_BUREAU_DAY", "AMT_REQ_CREDIT_BUREAU_WEEK", "AMT_REQ_CREDIT_BUREAU_MON", "AMT_REQ_CREDIT_BUREAU_QRT", "AMT_REQ_CREDIT_BUREAU_YEAR"]

In [57]:
for i in BUREAU_cols:
    data1[i] = data1[i].fillna(data1[i].mean().round(0))

In [58]:
data1.shape

(1341826, 36)

In [59]:
data1.head()

,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,OCCUPATION_TYPE,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_y,AMT_APPLICATION,AMT_CREDIT_y,AMT_GOODS_PRICE_y,FLAG_LAST_APPL_PER_CONTRACT,NAME_CONTRACT_STATUS,DAYS_DECISION,NFLAG_INSURED_ON_APPROVAL
0,1,Cash loans,M,202500.0,406597.5,24700.5,351000.0,Working,-9461,-637,-3648.0,-2120,1,1,0,Laborers,Business Entity Type 3,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,9251.775,179055.0,179055.0,179055.0,Y,Approved,-606,0.0
1,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,98356.995,900000.0,1035882.0,900000.0,Y,Approved,-746,1.0
2,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,64567.665,337500.0,348637.5,337500.0,Y,Approved,-828,0.0
3,0,Cash loans,F,270000.0,1293502.5,35698.5,1129500.0,State servant,-16765,-1188,-1186.0,-291,1,1,0,Core staff,School,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.310,68809.5,68053.5,68809.5,Y,Approved,-2341,1.0
4,0,Revolving loans,M,67500.0,135000.0,6750.0,135000.0,Working,-19046,-225,-4260.0,-2531,1,1,0,Laborers,Government,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,5357.250,24282.0,20106.0,24282.0,Y,Approved,-815,0.0

In [60]:
data1.to_csv("Cleaned_data_01.csv", index=False)